In [1]:
import pandas as pd

In [2]:
data={
    'empno':[101,102,103,104,105],
    'ename':['rama','ramya','shree','ram','kiran'],
    'qualification':['be','diploma','mtec','bsc','msc'],
    'subject':['cs','me','ec','at','ce']
    }

In [3]:
df=pd.DataFrame(data)
print(df)

   empno  ename qualification subject
0    101   rama            be      cs
1    102  ramya       diploma      me
2    103  shree          mtec      ec
3    104    ram           bsc      at
4    105  kiran           msc      ce

In [5]:
print(df['empno'])
print(df[['empno','ename']])

0    101
1    102
2    103
3    104
4    105
Name: empno, dtype: int64
   empno  ename
0    101   rama
1    102  ramya
2    103  shree
3    104    ram
4    105  kiran

In [6]:
df['salary']=[60000,80000,50000,20000,40000]
print(df)

   empno  ename qualification subject  salary
0    101   rama            be      cs   60000
1    102  ramya       diploma      me   80000
2    103  shree          mtec      ec   50000
3    104    ram           bsc      at   20000
4    105  kiran           msc      ce   40000

In [7]:
df['age']=[23,43,25,19,45]
print(df)

   empno  ename qualification subject  salary  age
0    101   rama            be      cs   60000   23
1    102  ramya       diploma      me   80000   43
2    103  shree          mtec      ec   50000   25
3    104    ram           bsc      at   20000   19
4    105  kiran           msc      ce   40000   45

In [8]:
young_people=df[df['age']<30]
print(young_people)

   empno  ename qualification subject  salary  age
0    101   rama            be      cs   60000   23
2    103  shree          mtec      ec   50000   25
3    104    ram           bsc      at   20000   19

In [9]:
highest_salary=df[df['salary']<40000]
print(highest_salary)

   empno ename qualification subject  salary  age
3    104   ram           bsc      at   20000   19

In [12]:
sorted_df=df.sort_values(by='age')
print(sorted_df)

   empno  ename qualification subject  salary  age
3    104    ram           bsc      at   20000   19
0    101   rama            be      cs   60000   23
2    103  shree          mtec      ec   50000   25
1    102  ramya       diploma      me   80000   43
4    105  kiran           msc      ce   40000   45